@use '../globals/colors' as c;

.error {
    border: 1px solid c.$clr-red;
    background-color: c.$clr-red-100;
}

.error-label {
    color: c.$clr-red;
}

.valid {
    border: 1px solid green;
    background-color: rgb(153, 197, 153);
}

.success {
    color: green;
}