@use '../globals/colors' as c;

.text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1rem;
    width: 100%;
    height: 3.5rem;
    border-radius: 0.5rem;
    padding-left: 1.5rem;
}

.subscribe-btn {
    background-color: c.$clr-blue-800;
    color: c.$clr-white;
    border: none;
    padding: 0;
    margin-top: 1.5rem;
}

.subscribe-btn:hover {
    cursor: pointer;
    background-color: c.$clr-red;
}