
main {
    margin: 0 auto;
    display: grid;
    // place-items: center;
    height: 100vh;
}

// Sign up page layout

.sign-up-card-container {
    height: 49.9;
    margin: 0 auto;
    width: 23.4375rem;

}

.context-container {

    &__img {
        // margin-left: -1.5rem;
        background-image: url(../assets/images/illustration-sign-up-mobile.svg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 17.75rem;
        margin-bottom: 2.5rem;
    }

    &__title {
        margin-bottom: 1.5rem;
    }

    &__text {
        margin-bottom: 1.5rem;
    }

    &__list {
        margin-bottom: 2.5rem;
        margin-left: 0;
    }
}

.text-container {
    margin: 0rem 1.5rem 2.75rem 1.5rem;
}

ul {
    list-style: none;
}

li {
    display: flex;
    align-items: start;
    padding-bottom: 0.5rem;
}

li::before {
    margin-left: -2.5rem;
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(../assets/images/icon-list.svg);
    background-size: contain;
    background-repeat: no-repeat;
    flex-shrink: 0;
    margin-right: 1rem;
}

.email-flexbox {
    padding: 0;
    margin-top: 0;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
}

.email-label {
    padding-bottom: 1rem;
}


