@use '../globals/fonts' as f;

.success-page {margin: 0 auto;
    display: none;
    place-items: center;
    height: 100vh;
}

.success-page-container {
    width: 23.4375rem;
}

.success-context-container {
    margin: 9.3125rem 1.5rem 4.38rem 1.5rem;
    height: clamp(34.5rem, 70vh, 56rem);
    position: relative;

    &__title {
        margin-block: 1.5rem;
    }

    &__text {

        font-weight: f.$fw-regular-400;
        margin-bottom: 1.5rem;
    }

    &__icon {
        width: 4rem;
        height: 4rem;
    }
}

.dismiss-btn {
    position: absolute;  
    bottom: 0;
}